.game {
    position: relative;
    width: 800px;
    height: 600px;
    margin:auto;
}

.kite, .anchor {
    position:absolute;
    width: 30px;
    height: 30px;
}

.kite {
    background-color: red;
}

.anchor {
    background-color: black;
}

.debugArrowSource, .debugArrowEnd {
    position: absolute;
    width: 5px;
    height: 5px;
}

.debugArrowCaption {
    position: absolute;
}